<script>
  let message = "{{msg}}";
  if(message){
    let toastHTML = `<span class="{{msgColor}}"><b>${message}</b></span><button onclick="dismissToast()" class="btn-flat toast-action">X</button>`;
    document.addEventListener('DOMContentLoaded', function() {
      M.toast({html: toastHTML, displayLength: 300000});
    });
  }

  function dismissToast(){
    let toastElement = document.querySelector('.toast');
    let toastInstance = M.Toast.getInstance(toastElement);
    toastInstance.dismiss();
  }
</script>