<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    *{
      margin: 0;
      padding: 0;
    }
    body div{
      width: 100vw;
      height: 50vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    body div h1{
      font-size: 48px;
      font-weight: 500;
    }

    body div h5{
      font-size: 24px;
      font-weight: 500;
      margin: 8px 0;
    }

    body div a{
      text-decoration: none;
    }
  </style>
  <title>404 Error</title>
</head>
<body>
<div>
  <h1>404</h1>
  <h5>The page you are looking for was not found.</h5>
  <a href="/stories">Back to Home</a>
</div>
</body>
</html>