<div class="container">
  <h2>About</h2>
  <p>This is a Node/Express app for sharing experience and ideas.</p>
  <p>As an experienced person sharing one’s experience and learning can help newer people to learn and grow much faster.</p>
  <p>Learning from other person’s experience is the best way to learn and grow.</p>
  <p>The Storybook, has a variety of opinion and viewpoints that the mainstream and traditional media could never offer. If you want one opinion, read the Times; if you want every opinion, read blogs.</p>
  <p>As a college professor one can share notes online on the platform and anyone can read that at any time. This reduce the burden of dictating notes in classroom beside utilizing time to teach and explain the topic in much depth.</p>
  <p>The Storybook creates an environment that is welcoming, enjoyable to click around, and positive for the intended audience readers arrive, and stay. The ambience of a blog might not be immediately apparent, but to dedicated blog consumers it is easy to separate the blogs they read regularly into ‘information only’ and ‘information + community’ blogs with their own separate ambiances.</p>
  <p>Version: 1.0.0</p>
</div>