<div class="container">
  <div class="row">
    <h3>Welcome Akash Kumar seth</h3>
    <h5>Your Stories</h5>
    <div class="col s12">
      <table class="striped responsive-table">
        <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td class="truncate">Rags to rich</td>
          <td>September 22nd 2018</td>
          <td>Private</td>
          <td>
            <i class="small material-icons grey-text edit-icon tooltipped" data-position="top"  data-tooltip="Edit">create</i>
            <i class="small material-icons red-text edit-icon tooltipped" data-position="top"  data-tooltip="Delete">delete</i>
          </td>
        </tr>
        <tr>
          <td class="truncate">Rags to rich</td>
          <td>September 22nd 2018</td>
          <td>Private</td>
          <td>
            <i class="small material-icons grey-text edit-icon tooltipped" data-position="top"  data-tooltip="Edit">create</i>
            <i class="small material-icons red-text edit-icon tooltipped" data-position="top"  data-tooltip="Delete">delete</i>
          </td>
        </tr>
        <tr>
          <td class="truncate">Rags to rich This is very long title Rags to rich This is very long title Rags to rich This is very long title</td>
          <td>September 22nd 2018</td>
          <td>Private</td>
          <td>
            <i class="small material-icons grey-text edit-icon tooltipped" data-position="top"  data-tooltip="Edit">create</i>
            <i class="small material-icons red-text edit-icon tooltipped" data-position="top"  data-tooltip="Delete">delete</i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let elem = document.querySelectorAll('.tooltipped');
    let instances = M.Tooltip.init(elem);
  });
</script>