<div class="container">
  <h3 class="page_title">Public Stories</h3>
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-content white-text">
          <span class="card-title blue-grey-text truncate">This is an extremely long title that will be truncated</span>
          <p class="orange-text story_summary_detail">I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively. Now It will truncate.</p>
        </div>
        <div class="chip-container">
          <div class="chip truncate blue-text">
            <img src="/images/default_user_img.png" alt="Contact Person">
            Akash Kumar Seth Ayush Singh Rishabh
          </div>
        </div>
        <div class="card-action center">
          <a class="btn waves-effect waves-light" href="#">Show More</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-content white-text">
          <span class="card-title blue-grey-text truncate">This is an extremely long title that will be truncated</span>
          <p class="orange-text story_summary_detail">I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively. Now It will truncate.</p>
        </div>
        <div class="chip-container">
          <div class="chip truncate blue-text">
            <img src="/images/default_user_img.png" alt="Contact Person">
            Akash Kumar Seth Ayush Singh Rishabh
          </div>
        </div>
        <div class="card-action center">
          <a class="btn waves-effect waves-light" href="#">Show More</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-content white-text">
          <span class="card-title blue-grey-text truncate">This is an extremely long title that will be truncated</span>
          <p class="orange-text story_summary_detail">I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively. Now It will truncate.</p>
        </div>
        <div class="chip-container">
          <div class="chip truncate blue-text">
            <img src="/images/default_user_img.png" alt="Contact Person">
            Akash Kumar Seth Ayush Singh Rishabh
          </div>
        </div>
        <div class="card-action center">
          <a class="btn waves-effect waves-light" href="#">Show More</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-content white-text">
          <span class="card-title blue-grey-text truncate">This is an extremely long title that will be truncated</span>
          <p class="orange-text story_summary_detail">I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively. Now It will truncate.</p>
        </div>
        <div class="chip-container">
          <div class="chip truncate blue-text">
            <img src="/images/default_user_img.png" alt="Contact Person">
            Akash Kumar Seth Ayush Singh Rishabh
          </div>
        </div>
        <div class="card-action center">
          <a class="btn waves-effect waves-light" href="#">Show More</a>
        </div>
      </div>
    </div>
  </div>
</div>