<div class="row">
  <div class="col s12 offset-m2 m8 offset-l3 l6">
    <div class="card login-card">
      <div class="row">
        <div class="col s12 container">
          <ul class="tabs">
            <li class="tab col s6 hoverable"><a class="active" href="#login">Login</a></li>
            <li class="tab col s6 hoverable"><a href="#signup">Sign Up</a></li>
          </ul>
        </div>
        <div class="container">
          <div id="login" class="col s12">
            <h4 class="center">Sign in to your account</h4>
            <a id="google-signIn-btn" class="waves-effect waves-light red btn col s12">
              <img src="/images/google_logo.png">
              <span>Login with Google</span>
            </a>
            <div>
              <div class="col s5"><div class="divider"></div></div>
              <h5 class="center col s2 divider-text">or</h5>
              <div class="col s5"><div class="divider"></div></div>
            </div>
            <div id="login-form">
              <div class="input-field col s12">
                <input id="login-email" type="email" class="validate">
                <label for="login-email">Email</label>
              </div>
              <div class="input-field col s12">
                <input id="login-password" type="password" class="validate">
                <label for="login-password">Password</label>
              </div>
            </div>
            <a class="waves-effect waves-light blue btn col s12 login-btn">Sign In</a>
          </div>
        </div>
        <div class="container">
          <div id="signup" class="col s12">
            <h4 class="center">Create your account</h4>
            <div class="signup-img">
              <img id="profile-img" src="/images/user.png">
              <input type="file" id="myFileInput" />
              <i onclick="selectImageAndCrop()" class="medium material-icons">add_circle</i>
            </div>
            <div id="login-form">
              <div class="input-field col s12">
                <input id="name" type="text" class="validate">
                <label for="name">Name</label>
              </div>
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
              <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
              <div class="input-field col s12">
                <input id="confirm-password" type="password" class="validate">
                <label for="confirm-password">Confirm Password</label>
              </div>
            </div>
            <a class="waves-effect waves-light blue btn col s12 login-btn">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  document.addEventListener('DOMContentLoaded', function() {
    let elem = document.querySelectorAll('.tabs');
    let instance = M.Tabs.init(elem);
  });

  function selectImageAndCrop(){
    document.getElementById('myFileInput').click();
  }

  let src = document.getElementById("myFileInput");
  let target = document.getElementById("profile-img");
  showImage(src,target);

  function showImage(src,target) {
    let fr=new FileReader();
    // when image is loaded, set the src of the image where you want to display it
    fr.onload = function(e) {
      target.src = this.result;
    };
    src.addEventListener("change",function() {
      // fill fr with image data
      fr.readAsDataURL(src.files[0]);
    });
  }

</script>