<div class="container">
  <div class="row">
    <div class="col s12 m8">
      <h4 class="article-title">
        This is an extremely long title that will.
        <a href="/edit/2324343dfdf3243">
          <i class="material-icons blue-text small edit-icon tooltipped" data-position="top"  data-tooltip="Edit">create</i>
        </a>
      </h4>
      <div class="card">
        <div class="card-content">
          <span class="card-title green-text">February 19th 2019</span>
          <p class="blue-grey-text">
            There were once two brothers who lived on the edge of a forest. The elder brother was very mean to his younger brother and ate up all the food and took all his good clothes. One day, the elder brother went into the forest to find some firewood to sell in the market. As he went around chopping the branches of a tree after tree, he came upon a magical tree. The tree said to him, ‘Oh kind sir, please do not cut my branches. If you spare me, I will give you my golden apples’. The elder brother agreed but was disappointed with the number apples the tree gave him. Greed overcame him, and he threatened to cut the entire trunk if the tree didn’t give him more apples. The magical tree instead showered upon the elder brother hundreds upon hundreds of tiny needles. The elder brother lay on the ground crying in pain as the sun began to lower down the horizon.

            The younger brother grew worried and went in search of his elder brother. He found him with hundreds of needles on his skin. He rushed to his brother and removed each needle with painstaking love. After he finished, the elder brother apologised for treating him badly and promised to be better. The tree saw the change in the elder brother’s heart and gave them all the golden apples they could ever need.
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title center truncate blue-text">John Duo Akash Kumar Seth</span>
          <div class="profile-img">
            <img src="/images/user.png">
          </div>
        </div>
        <div class="card-action center">
          <a class="truncate" href="#">More From Akash Kumar Seth</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Comments</span>
          <p>Please <a href="/users/login">login</a> to leave a comment.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Comments</span>
          <form action="/addComment/21343sdfsdfweeew" method="post" encType="text/plain">
            <div class="input-field">
              <input id="comment" type="text" class="validate" pattern="[\w|\W]{3,}" title="Comment must be atleast 3 character long." required>
              <label for="comment">Add Comment</label>
            </div>
            <a class="waves-effect waves-light btn">submit</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8">
      <div class="card">
        <div class="card-content">
          <h5>The younger brother grew worried and went in search of his elder brother.</h5>
          <div class="chip truncate blue-text">
            <img src="/images/default_user_img.png" alt="Contact Person">
            Akash Kumar Seth
          </div>
          <p>Posted : <span>February 19th 2017</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let elem = document.querySelectorAll('.tooltipped');
    let instances = M.Tooltip.init(elem);
  });
</script>