{{> alertMessage}}
<div class="container">
  <div class="row">
    <div class="col s12 m8">
      <h4 class="article-title">
        This is an extremely long title that will.
        <a href="/edit/2324343dfdf3243">
          <i class="material-icons blue-text small edit-icon tooltipped" data-position="top"  data-tooltip="Edit">create</i>
        </a>
      </h4>
      <div class="card">
        <div class="card-content">
          <span class="card-title green-text">February 19th 2019</span>
          <div style="max-width: 100%">
            <img src="https://37584.cdn.cke-cs.com/vgmbcpfjMwzKegWpxBoe/images/ee452ff3a8cc1da8dbe1e9a7c9fd8c90b72c34eca373f9aa_18
0362414-H-768x525.jpg" style="max-width: 100%"/><p>Raj was upset because he had done poorly in his English test. His grandmother sat with him an
            d gave him a pencil. A puzzled Raj looked at his grandma and said he didn’t deserve a pencil after his performance in the test. His grandma expl
            ained, ‘You can learn a great many things from this pencil because it is just like you. It experiences a painful sharpening, just the way you ha
            ve experienced the pain of not doing well on your test. However, it will help you be a better student. Just as all the good that comes from the
            pencil is from within itself, you will also find the strength to overcome this hurdle. And finally, just as this pencil will make its mark on an
            y surface, you too shall leave your mark on anything you choose to’. Raj was immediately consoled and promised himself that he would do better.</p>
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title center truncate blue-text">John Duo Akash Kumar Seth</span>
          <div class="profile-img">
            <img src="/images/user.png">
          </div>
        </div>
        <div class="card-action center">
          <a class="truncate" href="#">More From Akash Kumar Seth</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Comments</span>
          <p>Please <a href="/users/login">login</a> to leave a comment.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Comments</span>
          <form action="/addComment/21343sdfsdfweeew" method="post" encType="text/plain">
            <div class="input-field">
              <input id="comment" type="text" class="validate" pattern="[\w|\W]{3,}" title="Comment must be atleast 3 character long." required>
              <label for="comment">Add Comment</label>
            </div>
            <button class="waves-effect waves-light btn">submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8">
      <div class="card">
        <div class="card-content">
          <h5>The younger brother grew worried and went in search of his elder brother.</h5>
          <div class="chip truncate blue-text">
            <img src="/images/default_user_img.png" alt="Contact Person">
            Akash Kumar Seth
          </div>
          <p>Posted : <span>February 19th 2017</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let elem = document.querySelectorAll('.tooltipped');
    let instances = M.Tooltip.init(elem);
  });
</script>