main{
    min-height: calc(100vh - 271px);
}

.container{
    width: 90% !important;
}

.login-form-title{
    margin-bottom: 2rem;
}

.container{

}

.login-card{
    padding-bottom: 0.5rem;
    margin: 3rem 0;
}

#google-signIn-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#google-signIn-btn img{
    width: 24px;
    margin-right: 0.5rem;
}

.divider{
    position: relative;
    bottom: -2.125rem;
}

.divider-text{
    margin: 1rem 0 0;
}

#login-form{
    margin: 1rem 0;
}

#register-form{
    margin: 1rem 0;
}

.login-btn{
    margin: 2vw 0;
}

.signup-img{
    display: flex;
    justify-content: center;
}

.signup-img img{
    width: 128px;
    height: 128px;
    margin-left: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.signup-img i{
    color: #1ba11c;
    position: relative;
    bottom: -6rem;
    left: -2.5rem;
    height: 56px;
    cursor: pointer;
}

#myFileInput{
    display: none;
}

.page_title{
    margin-top: 0;
    padding: 0;
}

.story_summary_detail{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    min-height: 84px;
}

.chip-container{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.chip{
    margin: 0 2rem;
}

.profile-img{
    display: flex;
    justify-content: center;
}

.profile-img img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

.card-action a{
    margin-right: 0 !important;
}

.article-title{
    display: flex;
    align-items: center;
}

.article-title a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-icon{
    cursor: pointer;
    margin-left: 1rem;
}

