main{
    min-height: calc(100vh - 265px);
}

.container{
    width: 90% !important;
}

td.truncate{
    max-width: 25rem;
    margin-top: 6px;
}

.btn-floating{
    position: fixed;
    bottom: 3vh;
    right: 1.5vw;
}

.login-form-title{
    margin-bottom: 2rem;
}

.login-card{
    padding-bottom: 0.5rem;
}

#google-signIn-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#google-signIn-btn img{
    width: 24px;
    margin-right: 0.5rem;
}

.divider{
    position: relative;
    bottom: -2.125rem;
}

.divider-text{
    margin: 1rem 0 0;
}

#login-form{
    margin: 1rem 0;
}

#register-form{
    margin: 1rem 0;
}

.login-btn{
    margin: 2vw 0;
}

.signup-img{
    display: flex;
    justify-content: center;
}

.signup-img img{
    width: 128px;
    height: 128px;
    margin-left: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.signup-img i{
    color: #1ba11c;
    position: relative;
    bottom: -6rem;
    left: -2.5rem;
    height: 56px;
    cursor: pointer;
}

#myFileInput{
    display: none;
}

.page_title{
    margin-top: 0;
    padding: 0;
}

.chip-container{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.stories-chip{
    margin: 0 2rem;
}

.profile-img{
    display: flex;
    justify-content: center;
}

.profile-img img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

.card-action a{
    margin-right: 0 !important;
}

.show-detail{
    max-width: 100%;
}

.show-detail img{
    max-width: 100%;
    max-height: 480px;
    object-fit: fill;
}

/*Removing materialize default ul and li style*/
.show-detail ul:not(.browser-default) {
    padding-left: 40px !important;
    list-style-type: inherit !important;
}

.show-detail ul:not(.browser-default) > li {
    list-style-type: inherit !important;
}

.show-detail figure{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.show-detail table{
    border: 1px solid #ddd;
}

.show-detail table th {
    border: 1px solid #ddd;
}

.show-detail td {
    border: 1px solid #ddd;
}

.show-detail th{
    text-align: center;
    background: #fafafa;
}

/*Removing materialize default ul and li style*/
.ck-editor__main ul:not(.browser-default) {
    padding-left: 40px !important;
    list-style-type: inherit !important;
}

.ck-editor__main ul:not(.browser-default) > li {
    list-style-type: inherit !important;
}

figure{
    margin: 0 0 !important;
}

figcaption{
    background: gainsboro;
    width: 100%;
    text-align: center;
}

.article-title{
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.article-title a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-icon{
    cursor: pointer;
}

/*flash Message*/
#messages .error{
    color: red;
}

/*removing margin from flash message*/
ul.green-text{
    margin: 0;
}

ul.white-text{
    margin: 0;
}

ul.red-text{
    margin: 0;
}

.dropdown-content .user-view {
    padding: 16px 16px 0;
}
.dropdown-content .user-view {
    position: relative;
    padding: 32px;
}

.dropdown-content .user-view .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.dropdown-content .user-view .background img{
    min-width: 300px;
    min-height: 160px;
    object-fit: cover;
}

.dropdown-content .user-view .circle {
    height: 64px;
    width: 64px;
}

a.edit-floating-btn{
    position: absolute;
    top: -16px;
}

